kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: tutorial
networking:
  disableDefaultCNI: true # Deshabilitamos el CNI predeterminado para usar Calico
  podSubnet: "192.168.0.0/16" # Subred para los pods
nodes:
  - role: control-plane
    extraPortMappings:
    - containerPort: 80
      hostPort: 80
      protocol: TCP
    - containerPort: 443
      hostPort: 443
      protocol: TCP
